/* elements */
h1 {
    color: black;
    font-family: Roboto;
}

/* classes */
.main {
    margin: 50px 100px;
    border: 2px solid black;
    font-family: Roboto;
}

/* header incl logo and nav bar */
.header {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    border: 2px solid black;
    background-color: lightgray;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.nav {
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-size: 40 px;
    flex-wrap: wrap;
    align-self: center;
}
.top-nav {
    text-align: right;
    margin-right: 30px;
    display: flex;
    font-size: 40 px;
}

.nav-item {
    padding: 5%;
    font-weight: 900;
}

.top-nav a {
    float: right;
    text-align: right;
    font-size: 40 px;
}

.top-nav a:link {
    color: rgb(205, 187, 242);
}

.top-nav a:hover {
    color: rgb(187, 245, 216);
}

.top-nav a::first-letter {
    color: rgb(187, 245, 216);
}

/* how to change the world box(es) */
.changeworld {
    background-color: lightgray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* three boxes */
.content {
    width: 20px;
    height: 20px;
    padding: 50px;
    margin: 25px;
    background-color: rgb(224, 239, 255);
    border: 2px solid black;
}

.content-boxes {
    background-color: gray;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.box {
    padding: auto;
}
#box-one {
    background-image: linear-gradient(rgb(187, 245, 216),rgb(205, 187, 242));
}
#box-two {
    background-image: linear-gradient(to bottom right,rgb(187, 245, 216),rgb(205, 187, 242));
}
#box-three {
    background-image: linear-gradient(to right,rgb(187, 245, 216),rgb(205, 187, 242));
}

.text p{
    color: lime;
}
.content p {
    display: none;
}

/* three text items */
.text-container {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/* how great would this website be */
.howgreat {
    background-color: lightgray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

/* footer */
.footer {
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}